/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

.navbar {
    padding: 1rem;
    background: green;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 2rem;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.button {
    background: white;
    color: black;
    border: 0.063rem solid black;
    padding: 0.5rem 1rem;
    border-radius: 0.313rem;
    cursor: pointer;
}

.container {
    padding: 1rem;
}

.form {
    font-size: large;
    border: 0.063rem solid black;
    border-radius: 0.313rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;

        input {
            width: 60%;
            padding: 0.5rem;
            border: 0.063rem solid black;
            border-radius: 0.313rem;
        }
    }
}
.add-invoice-container {
    width: 50%;
    margin: 0 auto;
    display: block;

    .add-invoice-button {
        margin: 1rem auto;
        display: block;
    }
}